body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 70px;
}

ul {
  list-style-type: decimal;
}

li {
  padding: 10px;
}

.howItWorks {
  text-align: left;
  padding-bottom: 10px;
}

button {
  font-size: 16px;
  background-color: #ffcc2f;
  border-color: #000;
  border-radius: 5px;
  padding: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  flex-direction: row;
}

.menuIcon {
  width: 20px;
  margin-top: 2px;
  margin-right: 15px;
}

.menuIconLine {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #000;
}

.searchInput {
  padding: 2px;
  width: 30vw;
}

.bookHScroll {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.book {
  width: 130px;
  height: 235px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  cursor: pointer;
  align-items: center;
}

.book > p {
  font-size: 13px;
}

.bookImage {
  width: 104px;
  height: 160px;
  object-fit: cover;
}

.bookSmall {
  width: 65px;
  height: 117px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  cursor: pointer;
  align-items: center;
}

.bookSmall > p {
  font-size: 8px;
}

.bookImageSmall {
  width: 52px;
  height: 80px;
  object-fit: cover;
}

.genre {
  margin-bottom: 10px;
}

.genreHeading {
  font-size: 16px;
  width: 100vw;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 15px;
}

.bookDetailsPopup {
  background-color: #fff;
  width: 70vw;
  height: 70vh;
  position: fixed;
  top: 15vh;
  left: 15vw;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  z-index: 1000;
}

.bookDetailsPopupImage {
  width: 130px;
  height: 200px;
  object-fit: cover;
}

.bookDetailsPopupHeader {
  width: 100%;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bookDetailsPopupCloseIcon {
  font-size: 25px;
  cursor: pointer;
  padding: 3px;
}

.bookDetailsPopupText {
  margin: 15px 15px 0px 15px;
}

.readButton {
  margin-top: 30px;
  width: 175px;
}

.cart {
  background: #fff;
  width: 100vw;
  height: 160px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
}

.catalogCartFiller {
  width: 100vw;
  min-height: 160px;
}

.cartHeader {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.addDeliveryDetailsButton {
  font-size: 12px;
  background-color: #ffcc2f;
  border-color: #000;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.noTopMargin {
  margin-top: 0px;
}

.signupFormRow {
  margin-bottom: 8px;
}

.signupFormInput {
  border: 1px solid #000;
  height: 10px;
  width: 200px;
  padding: 5px;
}

.signupFormButton {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.planOption {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
  margin-bottom: 15px;
}

.planOptionTitle {
  border-bottom: 1px solid #000;
  font-weight: bold;
}

.planOptionRow {
  padding: 5px;
}

.planOptionButton {
  border-top: 1px solid #000;
  background-color: #ffcc2f;
  padding: 10px;
  font-weight: bold;
}
