body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 70px;
}

ul {
  list-style-type: decimal;
}

li {
  padding: 10px;
}

.howItWorks {
  text-align: left;
  padding-bottom: 10px;
}

button {
  font-size: 16px;
  background-color: #ffcc2f;
  border-color: #000;
  border-radius: 5px;
  padding: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  flex-direction: row;
}

.menuIcon {
  width: 20px;
  margin-top: 2px;
  margin-right: 15px;
}

.menuIconLine {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #000;
}

.searchInput {
  padding: 2px;
  width: 30vw;
}

.bookHScroll {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.book {
  width: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.book > p {
  font-size: 13px;
}

.bookImage {
  width: 104px;
  height: 160px;
  object-fit: cover;
}
